.aaa-body {
    background: none;
}

.show {
    display: flex;
}

.bbb-content-1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: stretch;
    /* height: 100%; */
}

.bbb-leftbar {
    background-color: #4e5166;
    /* overflow: auto; */
    color: white;
}

.midbar {

    flex: 1;
    background-image: url('../public/CSS.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;

}

.bbb-ul {
    list-style-type: none;
    margin: 0;
    padding-left: 6px;
    width: 200px;
    cursor: pointer;
}

.leftbar>.bbb-ul {
    padding-left: 0;
}

/* li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
/* li a:hover {
    background-color: #555;
    color: white;
} */

.d1,
.d1as,
.d1p,
.d2,
.d2as,
.d2p,
.d3,
.d3as,
.d3p,
.d4,
.d4as,
.d4p {
    display: none;
}


.show-li {
    display: list-item !important;
}

.level-1,
.level-2,
.level-3 {
    padding: 1rem 0 1rem 0.3rem;
}

.level-2:last-child,
.level-3:last-child {
    padding-bottom: 0;
}

.aaa-footer {
    position: fixed;
}

@media screen and (min-width:768px) {
    .bbb-content-1 {
        flex-direction: row;
    }
}