@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

html {
  font-family: 'Heebo', sans-serif;
}

.aaa-body {
  margin: 0;
  min-height: 100vh;
  background-image: url('http://logo.radixoffice.com/images/Logo_500x375(transparent).png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  flex-direction: column;
}

a {
  color: white;
}

.aaa-header {
  display: flex;
  box-shadow: 0 0 10px #000000;
  flex-direction: column;
  /* justify-content: space-between; */
  /* background-color: #4e5166; */
  background-color: #93B7BE;
  /* border-bottom: 1px solid black; */
  top: 0;
  position: sticky;
  z-index: 2;
}

.aaa-header>div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.aaa-a {
  text-decoration: none;
  color: #000000;
  padding: 2rem;
}

.aaa-nav {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.aaa-navbar>a:hover,
.aaa-navbar>a.active {
  background-color: #ffffff;
  color: black;
}

.aaa-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 2rem;
}


.aaa-navbar {
  display: none;
  flex-direction: column;
}

.aaa-toggle-btn {
  font-size: 50px;
  border: 2px solid black;
  padding: 0 0.5rem;
}

.aaa-show {
  display: flex;
}

.aaa-footer {
  text-align: center;
  background-color: #bebbb8;
  box-shadow: 0 0 10px #000000;
  padding: 0.5rem 0;
  width: 100%;
  bottom: 0;
  position: fixed;
}

@media screen and (min-width:768px) {
  .aaa-toggle {
    display: none;
  }

  .aaa-nav {
    display: flex;
  }

  .aaa-header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .aaa-navbar {
    display: flex;
    flex-direction: row;
  }
}