.aaa-body {
  margin: 0;
  min-height: 100vh;
  background-image: url(public/radix.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  }
 .aaa-header{
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  background-color: #bebbb8;
}

.aaa-header>div {
  display: flex;
  justify-content: space-between;
}

.aaa-a {
  text-decoration: none;
  padding: 2rem;
}

.aaa-nav {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.aaa-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 2rem;
}


.aaa-navbar {
  display: none;
  flex-direction: column;
}

.aaa-toggle-btn {
  font-size: 50px;
  border: 2px solid black;
  padding: 0 0.5rem;
}

.aaa-show {
  display: flex;
}
.aaa-footer{
  text-align: center;
  width: 100%;
   bottom: 0;
  position: fixed;
}

@media screen and (min-width:768px) {
  .aaa-toggle {
    display: none;
  }
  .aaa-nav {
    display: flex;
}

  .aaa-header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .aaa-navbar {
    display: flex;
    flex-direction: row;
  }
}