h1 {
    text-align: center;
  }
  
  .main-div {
    border: 1px solid black;
    padding: 1rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: powderblue;
  }
  
  
  .main-div>div {
    border: 1px solid black;
    display: inline-block;
    width: 100px;
    height: 100px;
  }
  
  .first-div {
    background-color: aquamarine;
  }
  
  .second-div {
    background-color: rgb(238, 234, 173);
  }
  
  .third-div {
    background-color: azure;
  }